<p>{{quote.description}}</p>
<p>This quote was created on {{quote.creationDate|date}}</p>
<div class="row">
  <div class="col">
    <button class='btn btn-success' (click)="upVote()"> {{ quote.likes }} 
      <i class="fa-solid fa-hand-point-up"></i>
      UpVote 
    </button>
  </div>
  <div class="col">
    <button class="btn btn-danger" (click)="downVote()"> {{ quote.dislikes }}
      <i class="fa-solid fa-thumbs-down"></i>
      DownVote
    </button>
  </div>
</div>
<br>
<button (click)="quoteDelete(true)" class="btn btn-outline-danger">Delete</button>
